*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    width: 100%;
    height: 300px;
    background-color: black;
    position: relative;
}

.s-icon{
    display: flex;
    justify-content: center;
    padding: 50px;
}

a{
    background-color: white;
    padding: 10px;
    margin:10px;
    font-size: 2rem;
    border-radius: 50%;
}

a i{
    font-size: larger;
    color: black;
}

a:hover{
    background-color: black;
    transition: 0.5s;
}

a i:hover{
    color: white;
    transition: 0.5s;
}

p{
    color: white;
    position: absolute;
    top: 80%;
    left:50%;
    transform: translate(-50%,-50%);
}
